<head>
    <!-- This is the heading, and will not load on the webpage. -->
    <title>
        About Me
    </title>
</head>
<body>
    <h1>About Me</h1>
    <h2>Thomas Pearce</h2>
    <h2>Information Systems major at the University of Maryland</h2>

    <!-- Adding alt text to an image will help blind people understand what is being displayed on the webpage.-->
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="Smith Logo">

    <p>I am in my <strong>senior</strong> year of <em>undergraduate</em> studies at the University of Maryland.</p>
    <p>Next year, I will be doing a <strong>Plus-One</strong> to get my <em>Master's degree.</em></p>

    <p>My favorite classes this semester:</p>
    <ol>
        <li>BUDT703</li>
        <li>BMGT407</li>
        <li>BMGT408V</li>
    </ol>
    <p>Some other hobbies:</p>
    <ul>
        <li>Basketball</li>
        <li>Cooking</li>
        <li>Reading</li>
    </ul>

    <p>Other classes I took:</p>
    <table>
        <tr>
            <th>Class Name</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BUDT702</td>
            <td>Fall 2023</td>
        </tr>
        <tr>
            <td>BUDT724</td>
            <td>Fall 2023</td>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Spring 2023</td>
        </tr>
        <tr>
            <td>BMGT301</td>
            <td>Fall 2023</td>
        </tr>
    </table>

    <!-- These hyperlinks will take users to different pages when clicked on. -->
    <p>A link to my <a href="hello.html">Welcome page.</a> </p>
    <p>A link to one of my <a href="https://www.nytimes.com/games/connections">favorite websites.</a></p>
    <p>A link to another one of my <a href="https://www.nytimes.com/games/wordle" target="_blank">favorite websites.</a></p>
</body>