{% extends "base.html" %}

{% block page_title %}
    Training
{% endblock %}

{% block page_head %}
    Training
{% endblock %}

{% block page_content %}
    <h1>Welcome to your training for the TerpSys Student Information System.</h1>
    <h2>Training materials are currently under construction, but will be created very soon.</h2>
    <h3>Please check back soon or email Thomas Pearce at <a href="mailto:tppearce@terpmail.umd.edu">tppearce@terpmail.umd.edu</a> if you wish to be placed on the waiting list.</h3>
{% endblock %}