{% extends "base.html" %}

{% block page_title %}
    Training
{% endblock %}

{% block page_head %}
    Training
{% endblock %}

{% block page_content %}
    <h3>Welcome to your training for the TerpSys Student Information System.</h3>
    <p>Training materials are currently under construction, but will be created very soon.</p>
    <p>Please check back soon or email Thomas Pearce at <a href="mailto:tppearce@terpmail.umd.edu">tppearce@terpmail.umd.edu</a> if you wish to be placed on the waiting list.</p>
{% endblock %}